body {
    margin: 0;
    padding: 0;
}

.calculator-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.screen-container {
    width: calc(100% - 2em);
    margin: 0.5em;
    padding: 0.5em;
    background-color: #023826;
    color: #fff;
    font-size: 4em;
    text-align: end;
    vertical-align: baseline;
}

.buttons-container {
    width: calc(100% - 3em);
    margin: 0 1em;
    padding: 0.5em;
    background-color: #444;
    color: #fff;
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.1em 0.1em;
}

.buttons-container div {
    width: 100%;
    background-color: #555;
    text-align: center;
}