html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    width: calc(100% - 2em);
    padding: 2em 1em 1em;
    background-color: #222;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.display-container {
    width: calc(100% - 1em);
    padding: 0.25em 0.5em 0;
    background-color: #63a07e;
    text-align: end;
    vertical-align: bottom;
    word-wrap: break-word;
}

.display-input-container {
    font-size: 3.5em;
    color: #3c5e4b;
}

.display-equation-container {
    font-size: 1.8em;
    color: #537763;
    padding-right: 0.25em;
}

.buttons-container {
    width: calc(100% - 0.5em);
    margin-top: 0.25em;
    padding: 0.25em;
    background-color: #282828;
    color: #999;
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.25em 0.25em;
}

.buttons-container>div {
    width: 100%;
    padding: 0.25em 0;
    background-color: #333;
    text-align: center;
}

.buttons-container>div:hover {
    background-color: #444;
    color: #fff;
}

@media screen and (min-width: 400px) {
    .calculator-container {
        width: calc(400px - 0.5em);
    }
}